/*********************************/
/*                               */
/*                               */
/*        Main StyleSheet        */
/*                               */
/*********************************/
/* -- Background theme */

body {
	font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
	margin: 0;
	background : lightgray;
}

/* -- Customed Divs */

.main-title {
	font-size: 100px ;
	text-align : center ;
	color : #1E8444 ;
        font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif";
}

.zoom {
	width: 350px;
	height: 540px;
}

/* -- Right button Settings */

.right-button {
	position : absolute;
	margin-left : 92.75%;
	margin-top : -5%;
}

.right-button img {
	-webkit-transition: all 1s ease; 
	transition: all 1s ease;
	}

.right-button:hover img {

	-webkit-transform:scale(1.25); 
	transform:scale(1.25);
	}


/* -- Left button Settings */

	.left-button {
		position : absolute;
		margin-left : 1%;
		margin-top : -5%;
		transform : scaleX(-1);
	}
	
	.left-button img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.left-button:hover img {
	
		-webkit-transform:scale(1.25); 
		transform:scale(1.25);
	}
