																	/*********************************/
																	/*                               */
																	/*        Main StyleSheet        */
																	/*                               */
																	/*********************************/

/* -- Background theme */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-bottom: 0;
	background-image: url("../images/back-index.jpg");
    background-repeat: no-repeat fixed;
    overflow : hidden ; 
}

/* -- Customed Divs */

.main-title {
	font-size: 125px ;
	text-align : center ;
	color : #1E8444 ;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 900;
}

.title {
	margin-left : 30%;
	position: absolute;
	font-size: 85px;
	text-align : center ;
	color : #1E8444 ;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 900;
}

.zoom {
	width: 750px;
	height: 850px;
}

.paragraph {
	font-size: 75px ;
	margin-left : 25%;
	color : #1D5C08;
	font-family: "Trebuchet MS" , Helvetica , sans-serif;
	
}

a:visited {
	color : #1D5C08;
	text-decoration : n;
} 

.info {
	color : #1D5C08 ;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
}

/* -- Right button Settings */

.right-button {
	position : absolute;
	margin-left : 92.75%;
	margin-top : 1%;
}


.right-button img {
	-webkit-transition: all 1s ease; 
	transition: all 1s ease;
	}

.right-button:hover img {

	-webkit-transform:scale(1.40); 
	transform:scale(1.40);
	}


/* -- Left button Settings */

.left-button {
	position : absolute;
	margin-left : 1%;
	margin-top : 1%;
	transform : scaleX(-1);
}

	.left-button img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.left-button:hover img {
	
		-webkit-transform:scale(1.40); 
		transform:scale(1.40);
	}

/* -- Images Settings */

	.chaussure1 {
		width : 420px;
		height: 420px;
		margin-left : -20%;
		margin-top : -20%;
	}

	.chaussure1 img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.chaussure1:hover img {
		-webkit-transform:scale(1.15); 
		transform:scale(1.15);
	}

	.chaussure2 {
		width : 420px;
		height: 420px;
		margin-left : 50%;
		margin-top : -15%;
	}

	.chaussure2 img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.chaussure2:hover img {
		-webkit-transform:scale(1.15); 
		transform:scale(1.15);
	}

	.affichageshoes {
		margin-top : 10%;
		margin-left: 10%;
		text-align: center;
	}

	.affichagesources{
		text-align: center;
		margin-top: 5%;
	}

	.eco1 {
		width : 420px;
		height: 420px;
		margin-left : 8%;
		margin-top : 10%;
	}

	.eco1 img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.eco1:hover img {
		-webkit-transform:scale(1.15); 
		transform:scale(1.15);
	}

	.eco2 {
		width : 420px;
		height: 420px;
		margin-left : -10%;
		margin-top : 5%;
	}

	.eco2 img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.eco2:hover img {
		-webkit-transform:scale(1.15); 
		transform:scale(1.15);
	}

	.iut {
		margin-top : -20%;
		text-align: center;
	}

	.iut img {
		-webkit-transition: all 1s ease; 
		transition: all 1s ease;
		}
	
	.iut:hover img {
		-webkit-transform:scale(1.15); 
		transform:scale(1.15);
	}
